<style>
    dl dt {
        font-weight: bold;
    }
</style>
<p>{{ intro }}</p>
<h3>{{headers.contact-information-header}}</h3>
<dl>
    {{#contact-information}}
        {{#value}}
            <dt>{{label}}</dt>
            <dd>{{value}}</dd>
        {{/value}}
    {{/contact-information}}
</dl>

<h3>{{headers.question-information-header}}</h3>
<dl>
    {{#question-information}}
        {{#value}}
            <dt>{{label}}</dt>
            <dd>{{value}}</dd>
        {{/value}}
    {{/question-information}}
</dl>

<h3>{{headers.question-header}}</h3>
{{#question}}
    {{question}}
{{/question}}
