{{<partials-page}}
    {{$page-content}}
        <div id="markdown">
            {{#markdown}}how-to-apply-factsheet{{/markdown}}
        </div>
        <div class="panel panel-border-narrow">
            Full details of the scheme are still subject to approval by Parliament.
        </div>
        <div>
            <a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">More about applying for settled status</a>
        </div>
        <div class="factsheet-submit">
            {{#input-submit}}need-more-help{{/input-submit}}
        </div>
    {{/page-content}}
{{/partials-page}}
