{{<partials-page}}
{{$headerClasses}}visually-hidden{{/headerClasses}}
{{$page-content}}

<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-large">
            Thank you
        </h1>

        <p>You have now left the service.</p>
        <p><a id="feedback" href="https://www.gov.uk/done/eu-settled-status-enquiries">What did you think of this service?</a> (takes 30 seconds)</p>
        <p><strong>You can also:</strong></p>
        <p><a id="returnToGovUk" href="http://gov.uk">Go back to GOV.UK</a></p>
    </div>
</div>
{{/page-content}}
{{/partials-page}}
