{{<partials-page}}
{{$page-content}}

<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-large">
            {{#t}}leave.thank-you{{/t}}
        </h1>

        <p>{{#t}}leave.left-the-service{{/t}}</p>
        <p><a id="feedback" href="https://www.gov.uk/done/eu-settled-status-enquiries">{{#t}}leave.what-did-you-think{{/t}}</a>{{#t}}leave.takes-30-seconds{{/t}}</p>
        <p><strong>{{#t}}leave.you-can-also{{/t}}</strong></p>
        <p><a id="returnToGovUk" href="http://gov.uk">{{#t}}leave.go-back-to-govuk{{/t}}</a></p>
    </div>
</div>
{{/page-content}}
{{/partials-page}}
