@import "$$theme";
.phase-banner {
  @include phase-banner(beta);
}

#markdown {
  em {
    font-style: normal;
    font-size: 1.2em;
  }
  ul {
    margin: 20px 0 10px 20px;
    li {
      list-style-type: disc;
    }
  }
}

#enter-enquiry-body {
  width: 100%;
}

.factsheet-submit input {
  @extend a;
  color: #005ea5;
  box-shadow: none;
  background: none;
  text-decoration: underline;
  margin-top: 1.5rem;
}

.factsheet-submit input:visited {
  color: #4c2c92;
  background: none;
}

.factsheet-submit input:hover {
  color: #2e8aca;
  background: none;
}

.factsheet-submit input:active {
  color: #2e8aca;
  background: none;
}

.table-details tbody td:nth-child(2) {
  word-break: break-word;
}

#enter-unique-reference-number-group label {
  font-weight: 700;
}

#enter-contact-information-group legend {
  font-weight: 700;
  margin-bottom: 1.3rem;
}
