@import "$$theme";
.phase-banner {
  @include phase-banner(beta);
}

#markdown {
  em {
    font-style: normal;
    font-size: 1.2em;
  }
  ul {
    margin: 20px 0 10px 20px;
    li {
      list-style-type: disc;
    }
  }
}

#question-body {
  width: 100%;
}

.privacy-notice ul {
  list-style-type: disc;
  padding-left: 2.0em;
}

.table-details tbody td:nth-child(2) {
  word-break: break-word;
}

#contact-information-group legend {
  @include bold-19();
  margin-bottom: 1.3rem;
}

#your-question-option-group fieldset legend {
  display: none;
}

fieldset legend,
.form-group .form-label {
  @extend .heading-medium;

  .form-hint {
    margin-top: em(10, 16);
    margin-bottom: em(5, 16);
   }
}

.option-hint {
    display: block;
    margin-top: 5px;

    line-height: 1.31579;
    font-family: "nta", Arial, sans-serif;
    font-weight: normal;
    color: #6f777b
}

// govuk style guidelines for radio buttons - https://design-system.service.gov.uk/components/radios/ - have different font-weights for the labels
// depending on if there's a hint. We have hints in English what-is-your-question only so the text must be thicker than the Welsh text. 
.en-question {
    font-weight: 700;
}
.cy-question {
    font-weight: 400;
}

/* More specific selectors override more general ones */
.form-date .form-group .form-label {
  margin: inherit;
  padding: inherit;
  @extend .form-label;
}

// autocomplete styling
// borrowed from the BRP Enquiry Form
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
  max-height: 220px;
  overflow-y: scroll;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

#existing-application-group legend {
  margin: 0;
}

@media (max-width: 720px) {
  .button {
    margin-bottom: 1em; } }

.u-fr {
  float: right;
}

.c-language-nav {
  font-family: nta,Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  line-height: 1.14286;
  display: table;
  width: 100%;
  padding-top: 20px;

}

.c-language-nav__item:first-child {
  padding-right: 10px;
  border: 0 solid #bfc1c3;
  border-right-width: 1px;
}

.c-language-nav__item {
  display: table-cell;
  padding-left: 10px;
}

.cookies ul {
  list-style-type: disc;
  padding-left: 2.0em;
}

.grid-row {
  clear: both;
}
