@import "$$theme";
.phase-banner {
  @include phase-banner(beta);
}

#markdown {
  em {
    font-style: normal;
    font-size: 1.2em;
  }
  ul {
    margin: 20px 0 10px 20px;
    li {
      list-style-type: disc;
    }
  }
}

#question-body {
  width: 100%;
}

.table-details tbody td:nth-child(2) {
  word-break: break-word;
}

#contact-information-group legend {
  @include bold-19();
  margin-bottom: 1.3rem;
}

#your-question-option-group fieldset legend {
  display: none;
}

fieldset legend,
.form-group .form-label {
  @extend .heading-medium;

  .form-hint {
    margin-top: em(10, 16);
    margin-bottom: em(5, 16);
   }
}

/* More specific selectors override more general ones */
.form-date .form-group .form-label {
  margin: inherit;
  padding: inherit;
  @extend .form-label;
}

// autocomplete styling
// borrowed from the BRP Enquiry Form
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
  max-height: 220px;
  overflow-y: scroll;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

#existing-application-group legend {
  margin: 0;
}